body {
    height: 4000px;
    overflow-y: hidden;
}

.pins_mainLeft {
    width: 25%;
    background-color: rgb(4, 113, 73, 0.8);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.pins_mainRight {
    width: 65%;
    background-color: rgb(4, 170, 109, 0.8);
    overflow-y: scroll;
}

.pins_mainLeft, .pins_mainRight {
    float: left;
    height: 650px;
    margin-left: 3%;
    margin-top: 20px;
    outline: 10px solid black;
    border-radius: 10px;
}

.importantInfo {
    width: 94%;
    background-color: rgb(4, 113, 73, 0.8);
    height: 5%;
    clear: both;
    margin-left: 2.5%;
    bottom: 10px;
    position: fixed;
    text-align: center;
    padding-top: 5px;
    outline: 5px solid black;
    border-radius: 30px;
    font-size: 200%;
}

.pins_pinCell {
    max-width: 33.3%;
    min-height: 50%;
    outline: 1px dashed black;
    background-color: rgb(4, 170, 109, 0.5);
    float: left;
    text-align: center;
    position: relative;
}

.pins_pinCell:hover {
    background-color: rgb(44, 190, 139, 1);
    outline: 5px solid black;
}

.pins_pinCell img {
    width: 100%;
    height: 100%;
}

.pins_pinCell p {
    font-size: 200%;
    margin-top: -10%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    user-select: none;
}

.pins_pinCell span {
    font-size: 200%;
    margin-top: -10%;
    position: absolute;
    right: 0;
    left: 0;
    user-select: none;
}

.pins_sortBy {
    font-size: 300%;
    margin-top: 40px;
}

.sortByText {
    font-size: 200%;
    vertical-align: middle;
}

.sortByBox {
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #002e00;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

.sortByBox:checked {
    border: 6px solid lightgreen;
}

@keyframes sortByListReroll {
    0% {margin-left: 0px;}
    25% {margin-left: -10px;}
    50% {margin-left: 7px;}
    75% {margin-left: -3px;}
    100% {margin-left: 0px;}
}

.sortByList {
    width: 75%;
    height: 10%;
    font-family: mainfont;
    font-size: 200%;
    background-color: rgb(0, 25, 0,0.8);
    color: white;
    text-align: center;
    outline: 5px solid lightgreen;
    transition-duration: 0.2s;
    transform: scale(100%);
}

.sortByList:disabled {
    outline: 5px solid gray;
    transition-duration: 0.2s;
    transform: scale(80%);
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

.pins_disclaimer {
    position: absolute;
    bottom: 0;
    width: 100%;
    outline: 5px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: coral;
    font-size: 200%;
    user-select: none;
}

.pins_disclaimer:hover {
    background-color: rgb(240, 193, 193)
}

.pins_show {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    
}

.pins_list {
    z-index: 1;
}

@keyframes pins_show_bs_fadeIn {
    from {background-color: rgb(0, 0, 0, 0);}
    to {background-color: rgb(0, 0, 0, 0.5);}
}

.pins_show_bs_before {
    background-color: rgb(0, 0, 0, 0);
    pointer-events: none;
    transition: background-color 0.3s;
}

.pins_show_bs {
    background-color: rgb(0, 0, 0, 0.8);
    transition: background-color 0.3s;
    pointer-events: default;
}

.pins_show_box {
    position: fixed;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    background-color: rgb(4, 170, 109, 1);
    outline: 10px solid black;
    border-radius: 30px;
    overflow: hidden;
}

.pinsALL_hide {
    transform: scale(90%);
    transition-duration: 0.5;
}

.pinsALL_show {
    transform: scale(100%);
    transition-duration: 0.5;
}

.pins_show_box_hide {
    top: -90%;
    transition: top 0.3s;
    
}

.pins_show_box_show {
    top: 10%;
    transition: top 0.3s;
    
}

.pins_show_box_left_arrow {
    outline: 5px solid black;
    height: 125px;
    width: 125px;
    background-color: rgb(2, 82, 53);
}

.pins_show_box_left_arrow {
    background-color: rgb(2, 82, 53);
}

.pins_show_box_left_arrow:hover {
    background-color: rgb(6, 131, 85);
}

.pins_show_box_left_arrow img {
    height: 100px;
    width: 100px;
    top: -240px;
    left: -45px;
}

.pins_show_box_left, .pins_show_box_right {
    height: 100%;
    float: left;
    
}

.pins_show_box_left {
    width: 60%;
    background-color: rgb(2, 66, 42);
    position: relative;
}

.pins_show_box_right {
    width: 40%;
    background-color: rgb(4, 170, 109, 1);
    outline: 5px solid black;
    position: relative;
    text-align: center;
    overflow-y: scroll;
}

.pins_show_box_left img {
    height: 100%;
    display: block;
    margin: auto;
    position: absolute;
    margin-left: 8%;
}

.pins_show_box_bottom {
    clear: both;
    height: 150px;
    margin-top: 150px;
}

.pins_show_box_size {
    position: absolute;
    bottom: 0;
    right: 3%;
    font-size: 200%;
}

.pins_show_box_content {
    margin-top: -30px;
}

.pins_show_box_titlebox {
    height: 20%;
    background-color: rgb(44, 190, 139, 1);

}

.pins_show_box_title {
    font-size: 300%;
}

.pins_show_box_buttons {
    background-color: rgb(44, 190, 139, 1);
    width: 100%;
    height: 25%;
    margin-bottom: 50px;
}

.pins_show_box_buttons_downGIF, .pins_show_box_buttons_downFRM {
    width: 40%;
    height: 60%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    line-height: 100%;
    outline: 5px solid black;
    margin-top: -20px;
    border-radius: 30px;
}

.pins_show_box_buttons_downGIF p, .pins_show_box_buttons_downFRM p {
    font-size: 200%;
}

.pins_show_box_buttons_downGIF {
    background-color: rgb(67, 220, 95);
}

.pins_show_box_buttons_downFRM {
    background-color: rgb(4, 170, 159);
}

.pins_show_box_buttons_down {
    font-size: 200%;
}

.pins_show_box_notes {
    height: 400px;
    outline: 2px solid rgb(254, 254, 128);
    background-color: rgb(255, 255, 153);
    font-size: 200%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transform: rotate(3deg);
    position: relative;
    
}

.pins_show_box_notes_pin {
    height: 100px;
}

.pins_show_box_notes p {
    margin: 10px;
}

.pins_show_box_info {
    line-height: 60px;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    background-color: rgb(17, 102, 72);
    font-size: 300%;
    
}

.pins_show_box_info p {
    width: 90%;
    margin-left: 5%;
}

.pins_show_box_info a, .pins_show_box_notes a {
    color: white;
    -webkit-text-stroke-color: rgb(0, 6, 119);
    text-shadow: 0px 3px rgb(0, 6, 119);
    -webkit-text-stroke-width: 0.05em;
    text-shadow: 0.05em;
}

img {
    image-rendering: pixelated;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: rgba(0, 214, 139, 1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(132, 255, 212, 0.7);
    border-radius: 0px;
    transition: 1s all linear;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(132, 255, 212, 1);
    border-radius: 10px;
    transition: 1s all linear;
}