:root {
    --mobileSize: 600px;
}

body {
    background: url("img/bgAn2.gif");
    margin: 0;
}

@font-face {
    font-family: "base";
    src: url("TCCEB.TTF");
}

@font-face {
    font-family: "header";
    src: url("fonts/upheavtt.ttf");
}

h1 {
    font-family: "header";
    font-size: 64px;
    color: white;
    -webkit-text-stroke: 15px black;
    paint-order: stroke fill;
    letter-spacing: 5px;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 32px;
        -webkit-text-stroke-width: 10px;
        letter-spacing: 2px;
    }
}

hr {
    border: none;
    border-top: 10px dotted black;
    width: 90%;
}

* {
    font-family: "base";
    text-align: center;
    font-size: 28px;
}

.otherProjectsMobileWarning {
    color: rgb(255, 131, 131);
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 20px;
    }

    .otherProjectsMobileWarning::before {
        content: "WARNING: Those projects might not display properly on your device!";
    }
}

p {
    color: white;
    -webkit-text-stroke: 5px black;
    paint-order: stroke fill;
    margin: 50px;
}

@media only screen and (max-width: 600px) {
    p {
        margin: 20px;
        -webkit-text-stroke-width: 3px;
    }
}


p.info {
    margin: 50px;
    opacity: 75%;
}

.footer {
    margin: 20px;
    font-size: 20px;
    opacity: 50%;
}

.a-unused {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    background-position: bottom;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    text-decoration: none;
}

a:default {
    background: none;
    color: white;
}

a:hover {
    background-color: white;
    color: black
}

.button, .button2 {
    border: 1px white dotted;
    color: white;
    width: 300px;
    margin: auto;
    padding: 10px;
    user-select: none;
    cursor: default;
    margin-bottom: 100px;
}

.button:hover, .button2:hover {
    border-color: black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.button2 {
    width: 50%;
    margin-bottom: 10px;
}

.buttonInfo {
    font-size: 18px;
    opacity: 50%;
}

#bitProfile {
    width: 80%;
    padding-top: 50px;
    transform: rotate(-2deg);
}

@media only screen and (max-width: 600px) {
    #bitProfile {
        content:url("img/headerMobile.png");
        margin-top: -50px;
        margin-bottom: -50px;
        width: 100%;
    }
}

#bitProfile:hover {
    cursor: pointer;
}

.intro {
    font-size: 48px;
}

.introBox {
    margin-top: 100px;
}

.introTalk p,.introTalk {
    font-size: 36px;
}

@media only screen and (max-width: 600px) {
    .introTalk p,.introTalk {
        font-size: 24px;
    }
}

.mainSection {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("img/sectionBG.png") round;
    border-image-slice: 33% fill;
    width: auto;
    filter: brightness(90%);
}

@media only screen and (max-width: 600px) {
    .mainSection {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
    }
}

.article {
    margin-left: 20px;
    margin-right: 20px;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url("img/sectionBG_yellow.png") round;
    border-image-slice: 33% fill;
    width: auto;
}

.article img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .article {
        margin-left: 10px;
        margin-right: 10px;
        padding: 0px;
        padding-top: 10px;
    }
}



#mainHeaderp {
    -webkit-text-stroke: 0px;
    color: black;
}

#mainHeader {
    font-size: 48px;
}

.iconSection {
    width: 10px;
}


.mainButtons {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.mainButtons img {
    width: 45%;
    user-select: none;
    filter: brightness(100%);
}

@media only screen and (max-width: 600px) {
    .mainButtons img {
        width: 90%;
    }
}

.mainButtons img:hover {
    filter: brightness(120%);
    cursor: pointer;
}

#footer {
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 40%, rgba(0,0,0,0) 100%);;
    width: 100%;
    min-height: 200px;
    padding-top: 100px;
    
}

#footer p{
    opacity: 0.8;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    #footer p{
        margin-top: 100px;
        font-size: 14px;
    }
}

#myUpdates {
    margin-top: 50px;
}

.myUpdatesArticle {
    filter: brightness(90%);
}

.myUpdatesArticle:hover {
    filter: brightness(100%);
    cursor: pointer;
}

.articleText {
    margin: 10px;
    color: black;
    -webkit-text-stroke: 0px;
}

.articleTitle {
    font-size: 48px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 10px black;
}

@media only screen and (max-width: 600px) {
    .articleTitle {
        font-size: 28px;
        -webkit-text-stroke-width: 5px;
        letter-spacing: 1px;
    }
}

.articleDate {
    font-style: italic;
    opacity: 0.6;
}



.articleDate::before {
    content: "Release date: ";
}

.other_goodle {
    margin: 0px;
}

.othersTitle {
    font-size: 64px;
}

.othersButton {
    object-fit: cover;
}

.othersButton img {
    image-rendering: optimizeSpeed;
    user-select: none;
    max-width: 100%;
}

#otherProjects {
    margin-top: 100px;
}

.articleGeneral {
    margin-top: 50px;
}

.articleLeft {
    width: 70%;
    float: left
}

.articleRight {
    width: 30%;
    float: right;
    object-fit: contain;
}

.articleRight img {
    height: 100%;
}

.articleInTop {
    min-height: 300px;
}

.articleBottom {
    clear: both;
}

.articleLeft, .articleRight {
    display: inline;
}

@media only screen and (max-width: 600px) {
    .articleLeft {
        width: 100%;
    }

    .articleRight {
        width: 100%;
    }

    .articleRight img {
        width: 100%;
        height: auto;
    }
}

.projectName {
    font-size: 60px;
}

.projectDevs {
    font-size: 24px;
    font-style: italic;
    margin-top: -40px;
    color: black;
    -webkit-text-stroke-width: 0px;
}

.projectSubname {
    font-size: 36px;
    font-style: italic;
    margin-top: -30px;
}

.projectComment {
    color: black;
    -webkit-text-stroke: 0px;
}

@media only screen and (max-width: 600px) {
    .projectName {
        font-size: 36px;
    }

    .projectDevs {
        font-size: 20px;
        margin-top: 0px;
    }

    .projectSubname {
        font-size: 20px;
        margin-top: 0px;
        -webkit-text-stroke-width: 4px;
    }
}

.socialButton {
    width: 100%;
}

.socialButton img {
    height: 100px;
    width: auto;
}

@media only screen and (min-width: 600px) {
    .socialBlock {
        width: 100%;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socialBlock .mainSection {
        width: auto;
        float: left;
    }
}

.allLinksIMG {
    width: 100px;
    fill:black;
}