html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: black;
}

@keyframes bgAn {
    from {background-color: #222222;}
    to {background-color: black;}
  }

.bitDanceGIF {
    min-width: 320px;
    max-width: 100%;
    min-height: 320px;
    max-height: 100%;
    position: relative;
    color: black;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    opacity: 0;
}

.bitDancePNG {
    min-width: 320px;
    max-width: 100%;
    min-height: 320px;
    max-height: 100%;
    position: relative;
    color: black;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    opacity: 1;
}

.bitSecret {
    min-width: 320px;
    max-width: 100%;
    min-height: 320px;
    max-height: 100%;
    position: relative;
    color: black;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    opacity: 0;
    opacity: 0;
    z-index: 2;
}

.hidden { display: none !important; }